
.page.tags {
    height: 100%;
    display: flex;
    gap: 1rem;
}

.page.tags .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tagList > .tag {
    background-color: var(--backdrop);
    display: flex;
    border-radius: 10px;

    justify-content: space-between;
    padding: 0.5rem 1rem;
    font-size: 15pt;
}

.tagList > .tag button {
    background-color: transparent;
    border: none;
    opacity: 0;
    transition: opacity 200ms ease-out, background-color 200ms ease-in-out, color 200ms ease-in-out;
    color: var(--contrast-inverted);
}

.tagList > .tag button:hover {
    color: var(--contrast);
    background-color: var(--primary) ;
}

button.delete {
    outline: none;
    border: none;
    padding: 0.5rem;
}


.tagList > .tag:hover button {
    opacity: 1;
}

.tagList::-webkit-scrollbar {
    display: none;
}

.tag div.parent {
    display: flex;
    gap: 1rem;
    font-size: 15pt;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.tag img {
    opacity: 0.7;
}

.tag {
    transition: background-color 200ms ease-out;
}

.tag .parent input {
    max-width: 7.5rem;
}

.tag:hover .parent p {
   color: var(--contrast-inverted);
}

.tag:hover .parent img {
    filter: invert(1);
}

.childTag {
    display: flex;
    margin-left: 1rem;
    gap: 1rem;
    align-items: center;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 12pt;
    transition: background-color 200ms ease-in-out;
}

.childTag:hover {
    background-color: var(--tertiary);
}

.childTag:hover img {
    filter: invert(1);
}

.childTag:hover p {
    color: var(--contrast-inverted)
}

.tag img {
    height: 32px;
}

.tag p {
    margin: 0;
}

.tag:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

.tagList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: scroll;

}

.search--container {
    display: flex;
    gap: 1rem;
}

.search--container .icon-container {
    border-radius: 5px;
    background-color: var(--primary);
    padding: 0 0.5rem;
    display: flex;
}

.search--container .icon {
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    font-size: 3em !important;
    line-height: 1.2;
}

.search--container input {
    flex-grow: 1;
}

.tagCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 2;
    min-height: 0;

}

.childTags {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tagChip {
    display: flex;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 1px 0.5rem 1px 0.5rem;
    align-items: center;

    transition: background-color 200ms ease-out;
}

.tagChip p {
    font-weight: bolder;
}

.tagChip img {
    width: 30px;
    height: 30px;
    opacity: 0.6;
}

.newTag button {
    padding: 0 1rem;
}

.tagHeader {
    display: flex;
    gap: 1rem;
    padding:1rem;
    align-items: center;
    border-radius: 20px;
    flex-direction: row !important;
}

.tagHeader img {
    opacity: 0.55555;
}

h1 {
    margin: 0;
}

.tagDetails {
    display: flex;
    gap: 1rem;
}

h2 {
    margin: 0;
}

.tag div.parent button.edit {
    background-color: var(--primary);
    color: var(--contrast);
    opacity: 1;
}

.tag div.parent button.edit:hover {
    background-color: var(--tertiary);
    color: var(--contrast-inverted);
    opacity: 1;
}

.tagHeader button span {
    font-size: 24pt;
}

.rule {
    background-color: var(--backdrop);
    border-radius: 10px;
    padding: 1rem;
}

.rule p {
    margin: 0;
}

.tag-settings {
    overflow: scroll;
}
