.holiday .title {
    font-size: 2em;
}

.holiday .dates {
    font-size: 1.2em;
}

.holiday img {
    border-radius: var(--card-border-radius);
    max-width: 30rem;
    aspect-ratio: 16 / 10;
}

.holidayList img {
    aspect-ratio: 1/1;
    width: 4rem;
    object-fit: fill;
    border-radius: var(--card-border-radius);
}

.holidayList td {
    padding: 0.5rem;
}
