
.page.transactions {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.transactionList {
    display: grid;
    gap: 0.5rem;
    background-color: var(--background);
    overflow-y: scroll;
    position: relative;
    max-height: 100%;
    border-radius: 20px;
    padding: 0 2px;
}



.transactionList-container {
    background-color: var(--background);
    border-radius: var(--card-border-radius);
    padding: 1rem 3rem;
    min-height: 0;
}

.transaction.selected {
    background-color: var(--primary);
    outline: var(--secondary) solid 2px;
}

.transaction.selected .tagChip {
    background-color: var(--secondary);
}

.transaction.selected .tagChip p {
    color: var(--contrast-inverted)
}

.transaction.selected .tagChip img {
    filter: invert(1);
}

.transactionList::-webkit-scrollbar {
  display: none;
}


.transaction {
    display: flex;
    background-color: var(--backdrop);
    padding: 0.5rem;
    border-radius: 10px;
    transition: background-color 200ms ease-out , width 200ms ease-in-out;
}

.transaction:hover {
    background-color: var(--primary);
}

.transaction img {
    height: 36px;
}

.transaction .logo {
    border-radius: 10px;
    background-color: white;
}

.transaction p {
    margin: 0;
    padding: 0.5rem;
    border-radius: 1rem;
}

p.value {
    font-weight: bold;
    letter-spacing: 0.1rem;
}

p.sign {
    font-weight: bold;
}

.positive {
    background-color: var(--positive) !important;
}

.negative {
    background-color: var(--negative) !important;

}

.spacer {
    flex-grow: 1;
    min-width: 1px;
}

.month-header {
    position: sticky;
    top: 0;
    background-color: var(--background);
}

.month-header p {
    font-weight: bolder;
    font-size: 23pt;
    padding: 1rem 0;
    margin: 0;
}

.date-header {
    font-weight: bold;
}

.noTransactions {
    font-size: 20pt;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%
}

.transactionFilters {
    display: flex;
    gap: 1rem;
}

.valueFilter {
    display: flex;
    gap: 1rem;
}

.valueFilter input {
    max-width: 3.7rem;
    padding: 0.5rem;
}

.inOutFilter {
    display: flex;
    gap: 1rem;
}

.inOutFilter button {
    width: 5rem;
    background-color: var(--background);
}

.untaggedFilter button div {
    display: flex;
    gap: 0.5rem;
    align-content: center;
}

.untaggedFilter span {
}



.untaggedFilter p {
    margin: 0;
}

.tagButton {
    background-color: var(--primary);
    border-radius: 5px;
    display: flex;
    padding: 0 0.5rem;
    opacity: 0;
    transition: opacity 200ms ease-out, background-color 200ms ease-out;
}

.transaction:hover .tagButton {
    opacity: 1;
}

.tagButton:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

.tagButton img {
    width: 32px;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
}

.transaction-search {
    border-radius: var(--card-border-radius);
    padding: 1rem;
}
