.accountList {
    background-color: var(--background);
    padding: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: var(--card-border-radius);
    flex-wrap: wrap;
    flex-direction: column;
}

.linkedAccountList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.account-linked .info {
   display: flex;
    background-color: var(--background);
    padding: 1rem;
    gap: 1rem;
    border-radius: var(--card-border-radius);
}

.account-linked p {
    margin: 0;
}

.accountList-container {
}

.accountList p {
    margin: 0;
}

.info img {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
}

.account {
    background-color: var(--backdrop);
    border-radius: 20px;
    padding: 1rem;
    transition: background-color 200ms ease-out, outline-color 200ms ease-out;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

}

.account:hover {
    background-color: var(--secondary);
}

.account .info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.account .details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-content: space-between;
}

.details p:first-child {
    font-weight: bold;
    font-size: 16pt;
}

.balance {
    font-size: 20pt;
    background-color: var(--primary);
    border-radius: 1rem;
    padding: 0.5rem
}

.account.disabled {
    background-color: transparent;
    outline: solid thin;
    outline-color: var(--contrast);
}

.account.disabled img, .account.disabled div {
    filter: grayscale(100%);
}

.accountCheck {
    width: 32px;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    transition: opacity 200ms ease-in-out;
}