:root  {
    --title-fs: 3rem;
    --primary: #0E8388;
    --secondary: #a0b2ac;
    --tertiary: #a18f5c;
    --neutral: #998e8c;
    --white: #000000;
    --background: #353d3d;
    --contrast: white;
    --red: #880808;
    --card-border-radius: 20px;
    --positive: rgba(119, 221, 119, 0.6);
    --negative: rgba(255, 105, 97, 0.6);
    --backdrop: #2C3333;
}