
.add-account {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--background);
    border-radius: var(--card-border-radius);
    transition: background-color 200ms ease-out;
    cursor: pointer;
    color: var(--contrast)
}

.add-account:hover {
    background-color: var(--secondary);
    color: var(--contrast-inverted)
}

.add-account p {
    margin: 3px 0;
}

.add-account span {

}