@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root  {
    --title-fs: 2.6rem;
    --font-family: 'Montserrat';
}

input, button, .response {
    background-color: transparent;
    border-radius: 5px;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
    border-color: rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-width: 0.2rem;
    font-family: 'Montserrat', sans-serif;

    transition: border-color 0.5s ease
    , border-radius 0.5s ease
    , background-color 0.2s ease-out;
}



.card {
    background-color: var(--background);
    padding: 2rem;
    border-radius: var(--card-border-radius);
}

input:focus, button:focus {
    border-radius: 20px;
    border-color: var(--secondary);
    outline: none;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: inherit;
}

html, body, #root, .App  {
    height: 100%;
    font-family: var(--font-family);
    overflow: hidden;
}


.align-center {
    height: inherit;
    align-items: center;
}

button {
    background-color: var(--primary);

}

button:hover {
    background-color: var(--secondary) !important;
    cursor: pointer;
}

.input-invalid {
    border-color: var(--red);
    color: var(--red)
}

.button-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.primary {
    background-color: var(--primary) !important;
}

.neutral {
    background-color: var(--background);
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

a {
    text-decoration: none;
}

.transparent {
    opacity: 0;
}

.opaque {
    opacity: 1;
}
