@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root  {
    --title-fs: 2.6rem;
    --font-family: 'Montserrat';
}

input, button, .response {
    background-color: transparent;
    border-radius: 5px;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--contrast);
    border-color: var(--contrast);
    border-style: solid;
    border-width: 0.2rem;
    font-family: 'Montserrat', sans-serif;

    transition: border-color 0.5s ease
    , border-radius 0.5s ease
    , background-color 0.2s ease-out;
}



.card {
    background-color: var(--background);
    padding: 2rem;
    border-radius: var(--card-border-radius);
}

input:focus, button:focus {
    border-radius: 20px;
    border-color: var(--secondary);
    outline: none;
}

html {
    height: 97vh;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    max-height: 100%;
    overflow: hidden;
    background-color: var(--backdrop);
}

#root, .App, body  {
    height: 100%;
    font-family: var(--font-family);
    color: var(--contrast)
}


.align-center {
    height: inherit;
    align-items: center;
}

button {
    background-color: var(--primary);
    color: var(--contrast)

}

button:hover {
    background-color: var(--secondary) !important;
    cursor: pointer;
}

.input-invalid {
    border-color: var(--red);
    color: var(--red)
}

.button-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.primary {
    background-color: var(--primary) !important;
}

.neutral {
    background-color: var(--background);
}

.visible {
    visibility: visible;
}



a {
    text-decoration: none;
}

.transparent {
    opacity: 0;
}

.opaque {
    opacity: 1;
}

.modal__background {
    backdrop-filter: blur(10px);
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
}

.modal {
    background-color: var(--background);
    padding: 3rem;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    border-radius: var(--card-border-radius);
    opacity: 1;

    transition: opacity 200ms ease-in-out;
}

.hidden {
    display: none !important;
    opacity: 0;
}

.icon {
    fill: var(--contrast);
}

.row {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    align-items: center;
}

div::-webkit-scrollbar {
    display: none;
}

.loader {
    opacity: 0.5;
    margin: 1rem;
}
