:root  {
    --title-fs: 3rem;
    --primary: #ebd2cc;
    --secondary: #ae887f;
    --tertiary: #a18f5c;
    --neutral: #998e8c;
    --white: #ffffff;
    --background: #f8f3f2;
    --text-color: dimgrey;
    --red: #880808;
    --card-border-radius: 20px;
    --positive: rgba(119, 221, 119, 0.6);
    --negative: rgba(255, 105, 97, 0.6);
}